In [11]:
import pandas as pd
import numpy as np

In [12]:

data = {
    'Name': ['Ahmed', 'Noha', 'Maha', 'Fady'],
    'Age': [np.nan, 18, 20, 21],
    'City': [np.nan, "Cairo", "Cairo", "Cairo"]
}

df = pd.DataFrame(data)

df
df['Age'].fillna(19, inplace=True)

df['City'].fillna("cairo", inplace=True)

df

C:\Users\Admin\AppData\Local\Temp\ipykernel_15380\4282063200.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(19, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15380\4282063200.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna("cairo", inplace=True)

    Name   Age   City
0  Ahmed  19.0  cairo
1   Noha  18.0  Cairo
2   Maha  20.0  Cairo
3   Fady  21.0  Cairo