# ðŸ”„ For Loops in Python

A `for` loop is used to iterate over elements of a sequence or any iterable object in Python.  
Common iterable objects include:

- Strings  
- Lists  
- Tuples  
- Dictionaries (keys, values, items)  
- Files  
- Ranges (using `range()`)

---

## âœ… General Syntax

```python
for item in iterable:
    # do something with item

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

## 1) Iterate through Lists

In [1]:
list1 = [10,20,30,40,50,60,70,80,90,100]

In [2]:
for n in list1:
    print(n)

10
20
30
40
50
60
70
80
90
100

In [3]:
for n in list1:
    print(n**2)

100
400
900
1600
2500
3600
4900
6400
8100
10000

Great! Hopefully this makes sense. Now let's add an <code>if</code> statement to check for even numbers. We'll first introduce a new concept here

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

**Let's print only the even numbers from that list!**

In [4]:
list2 = [10,201,305,402,507,630,705,866,943,1000]
for num in list2:
    if num %2 == 0: ## even 
        print(num)
print('finished')

10
402
630
866
1000
finished

**We could have also put an <code>else</code> statement in there:**

In [5]:
list2 = [10,201,305,402,507,630,705,866,943,1000]
for num in list2:
    if num %2 == 0: ## even 
        print(f'{num} is even')
    else :
        print(f'{num} is ood')

10 is even
201 is ood
305 is ood
402 is even
507 is ood
630 is even
705 is ood
866 is even
943 is ood
1000 is even

**Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:**

In [6]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list_sum = 0 
for num in list1:
    list_sum = list_sum + num
list_sum

55

## 2) Iterate through Strings
We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [8]:
for l in 'This is string':
    print(l.upper())

T
H
I
S

I
S

S
T
R
I
N
G

## 3) Iterate through Tuples
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [9]:
tup = (1,2,3,4,5)
for value in tup:
    print(value+5)

6
7
8
9
10

## 5) Iterate throuh Dictionaries

In [10]:
d = {'k1':1,'k2':2,'k3':3}

In [11]:
for item in d:
    print(item)

k1
k2
k3

In [12]:
list(d.keys())

['k1', 'k2', 'k3']

In [13]:
list(d.values())

[1, 2, 3]

In [14]:
list(d.items())

[('k1', 1), ('k2', 2), ('k3', 3)]

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary â€“ it is only a view. Let's see it in action:

In [15]:
for (k , v) in d.items():
    print(f"the key is {k} = {v}")

the key is k1 = 1
the key is k2 = 2
the key is k3 = 3

## 6) Iterate through Files

In [16]:
for line in open('test.txt','r'):
    print(line.upper())

THIS IS DEEP LEARNING



THIS IS TEXT BEING APPENDED TO TEST.TXT

AND ANOTHER LINE HERE.

BIG DATA IS GREAT

## 7) Use `range` to generate numbers.

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(range(80,91))

[80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [20]:
list(range(10,21,2))

[10, 12, 14, 16, 18, 20]

In [21]:
for i in range(10):
    print(f'{i}- hi')

0- hi
1- hi
2- hi
3- hi
4- hi
5- hi
6- hi
7- hi
8- hi
9- hi

## 8) Break & Continue

In [22]:
for i in range(10,41):
    if i % 3 == 0:
        print(f'{i} is divided on 3')
        print('continung the loop')
    else:
        print(i)
print('finished')

10
11
12 is divided on 3
continung the loop
13
14
15 is divided on 3
continung the loop
16
17
18 is divided on 3
continung the loop
19
20
21 is divided on 3
continung the loop
22
23
24 is divided on 3
continung the loop
25
26
27 is divided on 3
continung the loop
28
29
30 is divided on 3
continung the loop
31
32
33 is divided on 3
continung the loop
34
35
36 is divided on 3
continung the loop
37
38
39 is divided on 3
continung the loop
40
finished

**Break**<br>
to stop the loop

In [23]:
for i in range(10,41):
    if i % 3 == 0:
        print(f'{i} is divided on 3')
        break 
        print('continung the loop')
    else:
        print(i)
print('finished')

10
11
12 is divided on 3
finished

**Continue**<br>
to skip an iteration

In [24]:
for i in range(10,41):
    if i % 3 == 0:
        print(f'{i} is divided on 3')
        continue
        print('continung the loop')
    else:
        print(i)
print('finished')

10
11
12 is divided on 3
13
14
15 is divided on 3
16
17
18 is divided on 3
19
20
21 is divided on 3
22
23
24 is divided on 3
25
26
27 is divided on 3
28
29
30 is divided on 3
31
32
33 is divided on 3
34
35
36 is divided on 3
37
38
39 is divided on 3
40
finished

## 9) For-Else

In [26]:
for i in range(10):
    print(i)
else:
    print("no items left")

0
1
2
3
4
5
6
7
8
9
no items left

## 10) Nested for loops

In [27]:
for i in range (1,11):
    print(f'5*{i} = {5 * i}')

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [28]:
for x in range(1,11):
    print(f' gdwl el darb le rkm {x}')
    for y in range (1,11):
        print(f'{x} * {y} = {x *y}')
    print("-----------------------------------------")

 gdwl el darb le rkm 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
-----------------------------------------
 gdwl el darb le rkm 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
-----------------------------------------
 gdwl el darb le rkm 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
-----------------------------------------
 gdwl el darb le rkm 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
-----------------------------------------
 gdwl el darb le rkm 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
-----------------------------------------
 gdwl el darb le rkm 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
-----------------------------------------
 gdwl el darb le rkm 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
-----------------------------------------
 gdwl el darb le rkm 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
-----------------------------------------
 gdwl el darb le rkm 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
-----------------------------------------
 gdwl el darb le rkm 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
-----------------------------------------

In [29]:
days = ['mondy', 'friday', 'saturday']
for day in days:
    print(f' letters of {day} are: ')
    for l in day :
        print(l)
    print("---------------------")

 letters of mondy are:
m
o
n
d
y
---------------------
 letters of friday are:
f
r
i
d
a
y
---------------------
 letters of saturday are:
s
a
t
u
r
d
a
y
---------------------

# Great Work!