#  Lists in PythonðŸ“š

When we discussed strings earlier, we introduced the concept of a **sequence** in Python.  
**Lists** can be considered the most general form of sequences.

Unlike strings, **lists are mutable**, which means their elements can be changed!

---

##  In this section, we'll cover:

1. **Creating Lists**
2. **Indexing Lists**
3. **Slicing Lists**
4. **List Properties**
5. **List Methods**
6. **Nesting Lists**
7. **Introduction to List Comprehensions**

## 1) Creating Lists

In [1]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [2]:
type(my_list)

list

In [3]:
l2 = ['a', 23,100.5,True,['Hasnaa','menna']]

In [4]:
l2

['a', 23, 100.5, True, ['Hasnaa', 'menna']]

## 2) Indexing Lists

In [5]:
my_list[4]

5

In [6]:
l2[4][1]

'menna'

**you can update the list using indexing**

In [7]:
l2[3] = False
l2

['a', 23, 100.5, False, ['Hasnaa', 'menna']]

In [8]:
my_list[2] += 5
my_list

[1, 2, 8, 4, 5]

## 3) Slicing Lists

In [9]:
my_list = ['eman','eslam',' hasnaa',400,500,True]
my_list

['eman', 'eslam', ' hasnaa', 400, 500, True]

In [10]:
my_list[1:]

['eslam', ' hasnaa', 400, 500, True]

In [11]:
my_list[:3]

['eman', 'eslam', ' hasnaa']

In [12]:
my_list[::2]

['eman', ' hasnaa', 500]

In [13]:
my_list[::-1]

[True, 500, 400, ' hasnaa', 'eslam', 'eman']

In [14]:
my_list[4:1:-1]

[500, 400, ' hasnaa']

## 4) List Properties

**Concatenating**

In [15]:
my_list

['eman', 'eslam', ' hasnaa', 400, 500, True]

In [16]:
my_list + ['item1' , 'item2']

['eman', 'eslam', ' hasnaa', 400, 500, True, 'item1', 'item2']

In [17]:
my_list

['eman', 'eslam', ' hasnaa', 400, 500, True]

In [18]:
my_list2 = my_list + ['item1' , 'item2']
my_list2

['eman', 'eslam', ' hasnaa', 400, 500, True, 'item1', 'item2']

**Repeating**

In [20]:
a = 'abc'
a*5

'abcabcabcabcabc'

In [21]:
my_list *2

['eman',
 'eslam',
 ' hasnaa',
 400,
 500,
 True,
 'eman',
 'eslam',
 ' hasnaa',
 400,
 500,
 True]

## 5) List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

you can check a lot of list methods from here: https://www.w3schools.com/python/python_ref_list.asp

Let's go ahead and explore some more special methods for lists:

**list**

In [22]:
x = list()
x

[]

In [23]:
x = []
x

[]

**len**

In [24]:
len(my_list)

6

**append**

In [25]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [27]:
list1.append('append me!')
list1

[1, 2, 3, 'append me!']

In [28]:
list1.append(10.27)
list1

[1, 2, 3, 'append me!', 10.27]

**insert**

In [38]:
new_list = ['a','b','c','e','x']
new_list

['a', 'b', 'c', 'e', 'x']

In [31]:
new_list.insert(2,'inserted')
new_list

['a', 'b', 'inserted', 'inserted', 'c', 'e', 'x']

**remove**

In [32]:
new_list.remove('inserted')
new_list

['a', 'b', 'inserted', 'c', 'e', 'x']

In [33]:
list2 = [1,2,3,4,5,6]
list2

[1, 2, 3, 4, 5, 6]

In [34]:
list2.remove(4)
list2

[1, 2, 3, 5, 6]

another way to remove using **del** keyword

In [35]:
del list2[1]
list2

[1, 3, 5, 6]

In [36]:
new_list

['a', 'b', 'inserted', 'c', 'e', 'x']

In [37]:
del new_list[3:]
new_list

['a', 'b', 'inserted']

**pop**

In [39]:
new_list

['a', 'b', 'c', 'e', 'x']

In [40]:
new_list.pop(2)

'c'

In [41]:
new_list

['a', 'b', 'e', 'x']

**reverse**

In [42]:
new_list

['a', 'b', 'e', 'x']

In [43]:
new_list.reverse()
new_list

['x', 'e', 'b', 'a']

**sort**

In [44]:
list3 = ['a','f','b','e','y']
list3

['a', 'f', 'b', 'e', 'y']

In [45]:
list3.sort()
list3

['a', 'b', 'e', 'f', 'y']

In [46]:
list4 = [3,1,9,7,2,10]
list4

[3, 1, 9, 7, 2, 10]

In [47]:
list4.sort()
list4

[1, 2, 3, 7, 9, 10]

to sort descending

In [48]:
list4.sort(reverse=True)
list4

[10, 9, 7, 3, 2, 1]

**sorted**

In [49]:
my_list = [20,120,5,90,1000]
my_list

[20, 120, 5, 90, 1000]

In [50]:
sorted(my_list, reverse = True)

[1000, 120, 90, 20, 5]

### Min

In [51]:
min(my_list)

5

**max**

In [52]:
max(my_list)

1000

In [53]:
max(list3)

'y'

**sum**

In [54]:
sum(my_list)

1235

you can get average by

In [55]:
sum(my_list) / len(my_list)

247.0

## 6) Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [56]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [57]:
matrix[2]

[7, 8, 9]

In [58]:
matrix[1][0]

4

ok, lets have a deep one

In [59]:
matrix = [[1,[4,5,[7,8,9]],3],[4,5,6],[7,8,9]]
matrix

[[1, [4, 5, [7, 8, 9]], 3], [4, 5, 6], [7, 8, 9]]

In [60]:
len(matrix)

3

In [61]:
matrix[0]

[1, [4, 5, [7, 8, 9]], 3]

In [62]:
len(matrix[0])

3

In [63]:
matrix[0][1]

[4, 5, [7, 8, 9]]

In [64]:
len(matrix[0][1])

3

# Great Work!